body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

textarea {
    width: 800px;
    height: 250px;
}

button {
    padding: 30px;
}

.result {
    border: 1px solid rgb(0, 0, 0);
    width: 400px;
    margin: 20px auto;
    padding: 10px;
}